@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@custom-variant dark (&:is(.dark *));

:root {
  --color-neutral-0: #FFF;
  --color-neutral-50: #F5F5F5;
  --color-neutral-300: #E0E0E0;
  --color-neutral-400: #BDBDBD;
  --color-neutral-700: #757575;
  --color-neutral-900: #000000;
  --color-brand-red: #FF1616;
  --color-brand-green: #1CB31F;

  --color-surface-primary: var(--color-neutral-0);
  --color-surface-on-primary: var(--color-neutral-50);
  --color-surface-inverse: var(--color-neutral-900);
  --color-surface-inverse-on: var(--color-neutral-0);

  --color-content-primary: var(--color-neutral-900);
  --color-content-tertiary: var(--color-neutral-700);
  --color-content-inverse: var(--color-neutral-0);
  
}

.dark {
  --color-surface-primary: var(--color-neutral-900);
  --color-surface-on-primary: var(--color-neutral-0);
  --color-surface-inverse: var(--color-neutral-0);
  --color-surface-inverse-on: var(--color-neutral-900);

  --color-content-primary: var(--color-neutral-0);
  --color-content-tertiary: var(--color-neutral-50);
  --color-content-inverse: var(--color-neutral-900);
}

@theme inline {
  --color-surface-primary: var(--color-surface-primary);
  --color-surface-on-primary: var(--color-surface-on-primary);
  --color-surface-inverse: var(--color-surface-inverse);
  --color-surface-inverse-on: var(--color-surface-inverse-on);

  --color-content-primary: var(--color-content-primary);
  --color-content-tertiary: var(--color-content-tertiary);
  --color-content-inverse: var(--color-content-inverse);

  --color-brand-red: var(--color-brand-red);
  --color-brand-green: var(--color-brand-green);
  
  --font-climate: "Climate Crisis", system-ui, sans-serif;
  --font-inter: "Inter", system-ui, sans-serif;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 25s linear infinite;
}
