@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1979&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

@custom-variant dark (&:is(.dark *));

:root {
  --color-neutral-0: #FFFFFF;
  --color-neutral-50: #FAFAFA;
  --color-neutral-100: #F5F5F5;
  --color-neutral-200: #EEEEEE;
  --color-neutral-300: #E0E0E0;
  --color-neutral-400: #BDBDBD;
  --color-neutral-500: #9E9E9E;
  --color-neutral-600: #757575;
  --color-neutral-700: #616161;
  --color-neutral-800: #424242;
  --color-neutral-900: #212121;
  --color-neutral-1000: #000000;
  --color-brand-red: #FF1616;
  --color-brand-green: #1CB31F;

  --color-surface-primary: var(--color-neutral-0);
  --color-surface-secondary: var(--color-neutral-100);
  --color-surface-inverse-primary: var(--color-neutral-900);
  --color-content-primary: var(--color-neutral-900);
  --color-content-secondary: var(--color-neutral-600);
  --color-content-tertiary: var(--color-neutral-400);
  --color-content-inverse-primary: var(--color-neutral-0);
  --color-content-inverse-secondary: var(--color-neutral-300);
  --color-content-inverse-tertiary: var(--color-neutral-500);
}

.dark {
  --color-surface-primary: var(--color-neutral-1000);
  --color-surface-secondary: var(--color-neutral-900);
  --color-surface-inverse-primary: var(--color-neutral-100);
  --color-content-primary: var(--color-neutral-0);
  --color-content-secondary: var(--color-neutral-400);
  --color-content-tertiary: var(--color-neutral-500);
  --color-content-inverse-primary: var(--color-neutral-900);
  --color-content-inverse-secondary: var(--color-neutral-600);
  --color-content-inverse-tertiary: var(--color-neutral-400);
}

@theme inline {
  --color-surface-primary: var(--color-surface-primary);
  --color-surface-secondary: var(--color-surface-secondary);
  --color-surface-inverse-primary: var(--color-surface-inverse-primary);
  --color-content-primary: var(--color-content-primary);
  --color-content-secondary: var(--color-content-secondary);
  --color-content-tertiary: var(--color-content-tertiary);
  --color-content-inverse-primary: var(--color-content-inverse-primary);
  --color-content-inverse-secondary: var(--color-content-inverse-secondary);
  --color-content-inverse-tertiary: var(--color-content-inverse-tertiary);
  --color-brand-red: var(--color-brand-red);
  --color-brand-green: var(--color-brand-green);

  --font-climate: "Climate Crisis", system-ui, sans-serif;
  --font-inter: "Inter", system-ui, sans-serif;

}

@utility typo-display-1 {
  font-family: var(--font-climate);
  font-size: 120px;
  line-height: 100%;
  letter-spacing: -0.03em;
  font-weight: 400;
}

@utility typo-heading-1 {
  font-family: var(--font-climate);
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.03em;
  font-weight: 400;
}

@utility typo-title {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.03em;
  font-weight: 600;
}

@utility typo-body {
  font-family: var(--font-inter);
  font-size: 16px;
  line-height: 108%;
  letter-spacing: -0.03em;
  font-weight: 400;
}

@utility typo-caption {
  font-family: var(--font-inter);
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  font-weight: 400;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 100s linear infinite;
}