@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@custom-variant dark (&:is(.dark *));

:root {
  --color-neutral-0: #FFFFFF;
  --color-neutral-50: #FAFAFA;
  --color-neutral-100: #F5F5F5;
  --color-neutral-200: #EEEEEE;
  --color-neutral-300: #E0E0E0;
  --color-neutral-400: #BDBDBD;
  --color-neutral-500: #9E9E9E;
  --color-neutral-600: #757575;
  --color-neutral-700: #616161;
  --color-neutral-800: #424242;
  --color-neutral-900: #212121;
  --color-neutral-1000: #000000;
  --color-brand-red: #FF1616;
  --color-brand-green: #1CB31F;

  --color-surface-primary: var(--color-neutral-0);
  --color-surface-secondary: var(--color-neutral-100);
  --color-content-primary: var(--color-neutral-900);
  --color-content-secondary: var(--color-neutral-600);
  --color-content-tertiary: var(--color-neutral-400);
}

.dark {
  --color-surface-primary: var(--color-neutral-1000);
  --color-surface-secondary: var(--color-neutral-900);
  --color-content-primary: var(--color-neutral-0);
  --color-content-secondary: var(--color-neutral-300);
  --color-content-tertiary: var(--color-neutral-500);
}

@theme inline {
  --color-surface-primary: var(--color-surface-primary);
  --color-surface-secondary: var(--color-surface-secondary);
  --color-content-primary: var(--color-content-primary);
  --color-content-secondary: var(--color-content-secondary);
  --color-content-tertiary: var(--color-content-tertiary);
  --color-brand-red: var(--color-brand-red);
  --color-brand-green: var(--color-brand-green);

  --font-climate: var(--font-climate);
  --font-inter: var(--font-inter);

  --text-display-1: 120px;
  --text-display-1--line-height: 100%;
  --text-display-1--letter-spacing: -0.03em;
  --text-display-1--font-weight: 400;

  --text-display-2: 32px;
  --text-display-2--line-height: 100%;
  --text-display-2--letter-spacing: -0.03em;
  --text-display-2--font-weight: 400;

  --text-title: 16px;
  --text-title--line-height: 100%;
  --text-title--letter-spacing: -0.03em;
  --text-title--font-weight: 600;

  --text-body: 16px;
  --text-body--line-height: 100%;
  --text-body--letter-spacing: -0.03em;
  --text-body--font-weight: 400;

  --text-caption: 12px;
  --text-caption--line-height: 100%;
  --text-caption--letter-spacing: -0.01em;
  --text-caption--font-weight: 400;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 100s linear infinite;
}
